# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Production / Builds
dist
dist-ssr
dist-electron
out
build
bin

# Environment / Local Config
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.wrangler
.dev.vars

# Editor / System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
thumb.db
projects.txt

# Database
*.sqlite
*.db

# Old projects
cloudflarepages-cleaner
